
html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
}

 

.header{
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
}
.tittle{
    font-family: "Brush Script MT", cursive;
    color: white;

}
.Login{
    position: absolute;
    top: 2rem;
    right: 2rem;
    border-radius: 15rem;
    padding: 12px;
    font-family: "Brush Script MT", cursive;
    font-size: large;
    font-weight: bold;
    
}
.Login:hover {
    color: blue;
}